Source: gmpc
Section: sound
Priority: optional
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libmpd-dev (>= 0.19.2), gob2, libgtk2.0-dev, libglade2-dev, libglib2.0-dev, libcurl4-gnutls-dev, zlib1g-dev, intltool, libsoup2.4-dev, libsexy-dev, libsqlite3-dev, valac (>= 0.7.10)
Standards-Version: 3.9.1
Homepage: http://gmpc.wikia.com/
Vcs-Git: git://github.com/emillon/gmpc.git
Vcs-Browser: https://github.com/emillon/gmpc

Package: gmpc
Architecture: any
Depends: gmpc-data (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: mpd, gmpc-plugins
Breaks: gmpc-plugins(<< 0.18.96)
Enhances: mpd
Provides: mpd-client
Description: Gnome Music Player Client (graphical interface to MPD)
 A GNOME/GTK2.2 client for Music Player Daemon, it began life as traymp,
 a simple tray notification client and has grown into much more.
 Current features include:
  * Support for loading/saving playlists
  * File Browser
  * Browser based on ID3 information
  * Search
  * Current playlist viewer with search
  * ID3 Information
  * Cover art (via plugins)

Package: gmpc-dbg
Priority: extra
Section: debug
Architecture: any
Depends: gmpc (= ${binary:Version}), ${misc:Depends}
Description: Gnome Music Player Client (graphical interface to MPD)
 A GNOME/GTK2.2 client for Music Player Daemon, it began life as traymp,
 a simple tray notification client and has grown into much more.
 Current features include:
  * Support for loading/saving playlists
  * File Browser
  * Browser based on ID3 information
  * Search
  * Current playlist viewer with search
  * ID3 Information
  * Cover art (via plugins)
 .
 This package contains the debugging symbols.

Package: gmpc-dev
Architecture: any
Depends: gmpc (= ${binary:Version}), libmpd-dev (>= 0.18.96), pkg-config, ${misc:Depends}
Description: Gnome Music Player Client (plugin development files)
 This package contains the necessary header files if you wish to compile
 plugins for gmpc.

Package: gmpc-data
Architecture: all
Depends: ${misc:Depends}
Recommends: gmpc
Replaces: gmpc (<< 0.20.0-2)
Breaks: gmpc (<< 0.20.0-2)
Description: Gnome Music Player Client - data files
 A GNOME/GTK2.2 client for Music Player Daemon.
 .
 This package contains architecture-independent data for gmpc.
